#Practice Case_Statistics 
(by: Stella Linda Cyrilla)

## Import Libraries Needed

In [62]:
import pandas as pd

## Load The CSV from URL

In [142]:
#pd. set_option("display.max_rows", None) #displaying all csv rows
pd.set_option("display.max_columns", None) #displaying all columns

#URL source of csv file
url="https://raw.githubusercontent.com/Syukrondzeko/Fellowship/main/Seasons_Stats.csv"

#download the csv file from URL, create the dataframe, and remove the existing index
df=pd.read_csv(url, sep=',')
df=df.iloc[:, 1:]

print(df.columns) #to know all the columns title
print(df.shape) #to know number of rows & columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')
(24691, 52)

## Data Preprocessing

In [143]:
#data Preprocessing
df=df.dropna(how='all',axis=1) #delete columns with all NaN values

# #get only data in 2017
df=df.loc[df['Year'] == 2017]

#check columns that still contains Nan value
df.columns[df.isna().any()].tolist()

#replace NaN value based on last players' stat (for players with duplicate data)
df = df.fillna(df.groupby('Player').ffill())

#removes duplicates data and keep the last/lowermost data (for players that have duplicates)
df=df.drop_duplicates(subset=['Player'],keep='last').reset_index()

print(df.shape)

(486, 51)

### 1.Youngest and oldest player in the NBA in 2017 for each team (Tm)

In [144]:
#youngest means min age for each team, while oldest: max age for each team

#find the youngest player for each team
youngest_idx=list(df.groupby('Tm' )['Age'].idxmin())
ans_1_y=df.iloc[youngest_idx].loc[:, ['Tm','Player','Age']].to_string(index=False)
print("Youngest Player for Each Team:")
print(ans_1_y)

#find the oldest player for each team
oldest_idx=list(df.groupby('Tm' )['Age'].idxmax())
ans_1_o=df.iloc[oldest_idx].loc[:, ['Tm','Player','Age']].to_string(index=False)
print("\n\nOldest Player for Each Team:")
print(ans_1_o)

Youngest Player for Each Team:
  Tm                   Player   Age
 ATL          DeAndre' Bembry  22.0
 BOS             Jaylen Brown  20.0
 BRK         Isaiah Whitehead  21.0
 CHI             Bobby Portis  21.0
 CHO           Christian Wood  21.0
 CLE               Kay Felder  21.0
 DAL               Ben Bentil  21.0
 DEN             Jamal Murray  19.0
 DET           Henry Ellenson  20.0
 GSW             Kevon Looney  20.0
 HOU           Chinanu Onuaku  20.0
 IND             Myles Turner  20.0
 LAC            Diamond Stone  19.0
 LAL           Brandon Ingram  19.0
 MEM             Wade Baldwin  20.0
 MIA          Justise Winslow  20.0
 MIL               Thon Maker  19.0
 MIN               Tyus Jones  20.0
 NOP            Cheick Diallo  20.0
 NYK       Kristaps Porzingis  21.0
 OKC         Domantas Sabonis  20.0
 ORL        Stephen Zimmerman  20.0
 PHI  Timothe Luwawu-Cabarrot  21.0
 PHO            Dragan Bender  19.0
 POR              Noah Vonleh  21.0
 SAC     Georgios Papagiannis  19.0
 SAS          Dejounte Murray  20.0
 TOR            Bruno Caboclo  21.0
 UTA               Dante Exum  21.0
 WAS         Chris McCullough  21.0


Oldest Player for Each Team:
  Tm           Player   Age
 ATL    Mike Dunleavy  36.0
 BOS     Gerald Green  31.0
 BRK       Luis Scola  36.0
 CHI      Dwyane Wade  35.0
 CHO    Brian Roberts  31.0
 CLE   Chris Andersen  38.0
 DAL    Dirk Nowitzki  38.0
 DEN      Mike Miller  36.0
 DET       Beno Udrih  34.0
 GSW      Matt Barnes  36.0
 HOU     Nene Hilario  34.0
 IND     Aaron Brooks  32.0
 LAC      Paul Pierce  39.0
 LAL      Metta World  37.0
 MEM     Vince Carter  40.0
 MIA    Udonis Haslem  36.0
 MIL      Jason Terry  39.0
 MIN       John Lucas  34.0
 NOP     Jarrett Jack  33.0
 NYK  Carmelo Anthony  32.0
 OKC    Nick Collison  36.0
 ORL      C.J. Watson  32.0
 PHI   Tiago Splitter  32.0
 PHO  Leandro Barbosa  34.0
 POR      Evan Turner  28.0
 SAC    Arron Afflalo  31.0
 SAS    Manu Ginobili  39.0
 TOR      P.J. Tucker  31.0
 UTA      Joe Johnson  35.0
 WAS    Marcin Gortat  32.0

###2.Player with the most minutes played (MP) in each position (Pos)

In [146]:
#For the most MP, we'll find Players with max value of MP for each Pos
mp_idx=list(df.groupby('Pos')['MP'].idxmax())
ans_2=df.iloc[mp_idx].loc[:, ['Pos','Player','MP']].to_string(index=False)
print("Player with the most MP (for each position):\n")
print(ans_2)

Player with the most MP (for each position):

Pos              Player      MP
  C  Karl-Anthony Towns  3030.0
 PF     Harrison Barnes  2803.0
 PG        James Harden  2947.0
 SF      Andrew Wiggins  3048.0
 SG       C.J. McCollum  2796.0

###3.Team that has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)

In [147]:
#Calculate average TRB% for each team
trb=df.groupby(['Tm'] , as_index=False)['TRB%'].mean()
#Sort Team based on the highest avg TRB%
trb=trb.sort_values(by=['TRB%'],ascending=False).reset_index(drop=True)

#Calculate average AST% for each team
ast=df.groupby(['Tm'] , as_index=False)['AST%'].mean()
#Sort Team based on the highest avg TRB%
ast=ast.sort_values(by=['AST%'],ascending=False).reset_index(drop=True)

#Calculate average STL% for each team
stl=df.groupby(['Tm'] , as_index=False)['STL%'].mean()
#Sort Team based on the highest avg TRB%
stl=stl.sort_values(by=['STL%'],ascending=False).reset_index(drop=True)

#Calculate average BLK% for each team
blk=df.groupby(['Tm'] , as_index=False)['BLK%'].mean()
#Sort Team based on the highest avg TRB%
blk=blk.sort_values(by=['BLK%'],ascending=False).reset_index(drop=True)

#show the team with the highest avg of each TRB%, AST%, STL%, BLK%
print("Team with the highest average value of TRB%:\n", trb.head(1),'\n')
print("Team with the highest average value of AST%:\n", ast.head(1),'\n')
print("Team with the highest average value of STL%:\n", stl.head(1),'\n')
print("Team with the highest average value of BLK%:\n", blk.head(1),'\n')

Team with the highest average value of TRB%:
     Tm       TRB%
0  WAS  12.735294

Team with the highest average value of AST%:
     Tm       AST%
0  DEN  15.723529

Team with the highest average value of STL%:
     Tm      STL%
0  MIN  2.413333

Team with the highest average value of BLK%:
     Tm      BLK%
0  MIL  2.741176

### 4.The best player based on his record stats

In [148]:
#make a copied dataframe (df_new) so the original df doesn't change
df_new = df.copy(deep=True)

#make a new column named 'overall_stats' that consists avg value of PER, WS, FG, TRB, AST, STL, BLK, and PTS for each player
df_new['overall_stats']=df_new[['PER','WS','FG','TRB','AST','STL','BLK','PTS']].mean(axis=1)

#make a new dataframe which only contains the players' name and overall stats
ans_4=df_new[['Player','overall_stats']]

#sort Players based on the highest overall_stats
ans_4=ans_4.sort_values(by=['overall_stats'],ascending=False).reset_index(drop=True)

#Find the best player by showing the player with highest overall_stats
print("The best player based on his record stats:\n", ans_4.head(1),'\n')

The best player based on his record stats:
               Player  overall_stats
0  Russell Westbrook       661.7125

### 5.Team has the best average stat record of their players

In [152]:
#We'll use overall_stats column (like the no.4), but for the team condition, 
#we'll calculate the average of all players' overall_stats in each team

#Find the team with the highest average of overall_stats
ans_5=df_new.groupby(['Tm'] , as_index=False)['overall_stats'].mean()

#sort df_new mean% values (descending)
ans_5=ans_5.sort_values(by=['overall_stats'],ascending=False)

#Find the team which has the best average stat record of their players
print("Team with the best players' average stat record:\n", ans_5.head(1),'\n')

Team with the best players' average stat record:
     Tm  overall_stats
9  GSW     162.413281